.container {
    height: 300px;
    width: 400px;
    background-color: blue;
    height: 300px;
    margin: 30px auto;
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 30px;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;

}

.elemento {
    position: relative;
    background-color:red;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100px;
}